<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>add new image</h2>-->
<!--<p th:text="${post.id}"></p>-->
<!--<form method="post" action="/posts/create">-->
    <!--<input name="id" type="hidden" th:value="${post.id}"/>-->
    <!--<label for="image">Image URL</label>-->
    <!--<input id="image" name="image" type="url"/>-->

    <!--<button>Submit</button>-->
<!--</form>-->



<!--</body>-->
<!--</html>-->