<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="fragments/addons :: head('Create Post')"/>
</head>
<body>
<div class="container">
    <th:block th:replace="fragments/addons :: nav"/>

        <div class="alert alert-secondary" role="alert">
            <h2>Creating New Post ...</h2>
        </div>

    <form th:method="post" th:action="@{/posts/create}" th:object="${post}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title:</span>
            </div>
            <input th:field="*{title}" class="form-control" placeholder="Post Title..." aria-describedby="basic-addon1"/>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Post Body...</span>
            </div>
            <textarea th:field="*{body}" class="form-control" aria-label="With textarea"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <th:block th:replace="fragments/addons :: footer"/>
</div>
</body>
</html>
