<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h2>create new post!</h2>
    <form method="post" action="/posts/create">
        <label for="title">Title</label>
        <input id="title" name="title" type="text"/>

        <label for="body">Body</label>
        <textarea id="body" name="body"></textarea>

        <label for="image">Image URL</label>
        <input id="image" name="url" type="url"/>

        <button>Submit</button>
    </form>



</body>
</html>