<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:include="/fragments/navbar :: head"/>
</head>
<body>
    <th:block th:include="/fragments/navbar :: nav">
        The entire content of the partial will be *included* inside this div.
    </th:block>

        <h1>The random number is: <span th:text="${random}"></span></h1>
        <h1>You <span th:text="${passingresult}"></span></h1>

       <th:block th:if="${passingresult} == ${random}">
        <a href="/roll/1">1</a>
        <a href="/roll/2">2</a>
        <a href="/roll/3">3</a>
        <a href="/roll/4">4</a>
        <a href="/roll/5">5</a>
        <a href="/roll/6">6</a>
       </th:block>

</body>
</html>